/* class */

.btn {
  background-color: #FFFFFF; 
  border-color: #001C48; 
  color: #001C48;
}

.btn:active {
  background-color: #1E5288 !important;
  border-color: #1E5288 !important; 
  box-shadow: 0 0 0 0.0rem rgb(30, 82, 136, 0.2) !important;
  color: #FFFFFF !important;
}

.btn:focus {
  background-color: #FFFFFF;
  border-color: #001C48; 
  box-shadow: 0 0 0 0.0rem rgb(0, 28, 72, 0.2) !important;
  color: #001C48;
}

.btn:hover {
  background-color: #FFFFFF; 
  border-color: #001C48; 
  box-shadow: 0 0 0 0.0rem rgb(0, 28, 72, 0.2) !important;
  color: #001C48;
}

.img-fluid {
  width: 80%;
}

.qs-site-logo.d-block {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}
