/* class */

.bolder-icon {
  stroke-width: 0.5;
  stroke: currentColor; /* Inherits the 'color' property of the parent */
}

.bolder-icon.geoloc {
  transform: scale(1.5);
}

.btn.geoloc {
  background-color: transparent; 
  border-color: transparent; 
  color: #191919;
}

.btn:active {
  background-color: rgb(226, 233, 235) !important;
  border-color: transparent !important; 
  box-shadow: 0 0 0 0.0rem rgb(30, 82, 136, 0.2) !important;
  color: #191919 !important;
}

.btn:focus {
  background-color: transparent;
  border-color: transparent; 
  box-shadow: 0 0 0 0.1rem rgb(204, 204, 204, 0.2) !important;
  color: #191919;
}

.btn:hover {
  background-color: transparent; 
  border-color: transparent; 
  box-shadow: 0 0 0 0.0rem rgb(0, 28, 72, 0.2) !important;
  color: #191919;
}

.control-label {
  color: var(--bs-body-color); 
  font-weight: bold;
}

.data-options-title {
  padding-bottom: 1rem !important;
}

.img-fluid {
  width: 80%;
}

.qs-site-logo.d-block {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.selectize-dropdown .active {
  background-color: rgb(226, 233, 235) !important; 
  color: var(--bs-body-color) !important;
}

.selectize-dropdown .active:not(.selected) {
  background-color: rgb(226, 233, 235) !important; 
  color: var(--bs-body-color) !important;
}

.selectize-dropdown .selected:not(.active) {
  background-color: var(--bs-body-bg) !important; 
  color: var(--bs-body-color) !important;
}

.selectize-input {
  border-color: #CCCCCC !important;
}

.selectize-input.items.full.has-options.has-items {
  border-radius: 0px !important;
}
